@model ClassRegistrar.Models.Student

@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentDetails</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
